<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">תפריט</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <button class="nav-link" (click)="toAlerts()">התראות</button>
          </li>
          <li class="nav-item">
            <button class="nav-link" (click)="toMissions()">משימות</button>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="dashboard">מזומן \ צ'קים</a>
          </li>
        </ul>

      </div>
    </div>
    
  </nav>

  <router-outlet></router-outlet>