<div class="container mt-5 mb-5">
  <div class="row d-flex align-items-center justify-content-center">
      <div class="col-md-6">
          <div class="card px-5 py-5"> <i class="fa fa-check"></i>
            <img class="form-logo" src="./assets/images/White_logo.png" alt="logo">
              <div class="form-input"> <i class="fa fa-envelope"></i> <input type="email" class="form-control" placeholder="אימייל" [(ngModel)]="userEmail"> </div>
              <div class="form-input"> <i class="fa fa-lock"></i> <input type="password" class="form-control" placeholder="סיסמא"  [(ngModel)]="userPassword"> </div>
              <div class="text-center mt-4"> <span>משתמשת חדשה?</span> <a href="/" class="text-decoration-none"> הירשמי</a> </div>
              <button class="btn btn-primary mt-4 signup" (click)="trySignIn()">התחברי</button>
              <span [hidden]="errorMessage == ''">{{errorMessage}}</span>

              <img class="form-logo-michal" src="./assets/images/michal_sela_no_backgroud.png" alt="logo">
              <div class="text-center mt-4 "> <span> לזכרה של מיכל סלה </span><br/> <a href="https://www.michalsela.org.il/" class="text-decoration-none"> לאתר העמותה</a> </div>
          </div>
      </div>
  </div>
</div>