@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

body {
    background-color: #535fe6;
    font-family: "Poppins", sans-serif;
    font-weight: 300
}

.height {
    height: 10vh
}

.card {
    border: none;
    background-color: #21c5c5;
    color: #fff;
}



.form-logo {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5px;
    width: 40%;
}
.form-logo-michal {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5px;
    width: 50%;
    padding-top: 10px;
}


.form-input {
    position: relative;
    margin-bottom: 5px;
    margin-top: 5px
}

.form-input i {
    position: absolute;
    font-size: 18px;
    top: 5px;
    left: 10px
}


.form-control {
    height: 40px;
    background-color: #fff;
    text-indent: 24px;
    font-size: 15px;
    color:  #1c1e21;
    text-align: right;
}

.form-control:focus {
    background-color: #fff;
    box-shadow: none;
    color:  #1c1e21;
    border-color: #4f63e7;
    text-align: right;
}

.form-check-label {
    margin-top: 2px;
    font-size: 14px
}

.signup {
    height: 40px;
    font-size: 14px
}
