<div class="container mt-5 mb-5">
    <div class="row d-flex align-items-center justify-content-center">
        <div class="col-md-6">
            <div class="card px-5 py-5"> <i class="fa fa-check"></i>
                <img class="form-logo" src="./assets/images/White_logo.png" alt="logo">
                <div class="form-input"> <i class="fa fa-user"></i> <input type="text" class="form-control" placeholder="שם משתמש"  [(ngModel)]="userName"> </div>
                <div class="form-input"> <i class="fa fa-envelope"></i> <input type="email" class="form-control" placeholder="אימייל" [(ngModel)]="userEmail"> </div>
                <div class="form-input"> <i class="fa fa-lock"></i> <input type="password" class="form-control" placeholder="סיסמא"  [(ngModel)]="userPassword"> </div>
                <!-- <div class="form-check"> <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked> <label class="form-check-label" for="flexCheckChecked">אני מסכימה לתנאי האתר</label> </div>  -->
                <div class="text-center "> <span>כבר נרשומת?</span> <a href="login" class="text-decoration-none"> התחברי</a> </div>
                <button class="btn btn-primary mt-4 signup" (click)="trySignUp()">הרשמי</button>

                <img class="form-logo-michal" src="./assets/images/michal_sela_no_backgroud.png" alt="logo">
                <div class="text-center mt-4"> <span> לזכרה של מיכל סלה </span><br/> <a href="https://www.michalsela.org.il/" class="text-decoration-none"> לאתר העמותה</a> </div>

            </div>
        </div>
    </div>
</div>