<div class="form-group files">
    <label>בבקשה העלי קובץ תנודות אשראי </label>
    <input (change)="addFile($event)" id="input-b7" name="input-b7[]" multiple type="file" class="form-control" multiple="">
  </div>